.CurrentmemberContainer {
  background-image: linear-gradient(to right, rgb(233, 213, 255), rgb(187, 247, 208));
  width: 100%;
  height: auto;
  margin-top: 4rem;
  padding-top: 2rem;
}

.CurrentmemberBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.CurrentmemberTitle {
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(18, 77, 6);
  font-weight: 700;

}

.MemberBoxInfo {
  margin: 2%;
  width: 45%;
  min-width: 320px;
  background-image: linear-gradient(to right, rgb(244, 251, 229), rgb(160, 246, 190));
  height: 280px;
  border-radius: 4%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 5px 5px 15px;
  border: 2px solid black;
}

.MemberBoxInfo:hover {
  transform: scale(1.03);
  /* Slight zoom */
  box-shadow: 0px 10px 24px rgba(142, 68, 173, 0.4);
  border-color: #9b59b6;
}

.MemberName {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(15, 15, 15);

}

.MemberAbout {
  font-size: 1.5rem;
  color: rgb(100, 100, 100);

}
.readButton {
  background-color: rgb(196, 155, 225);
  color: rgb(18, 17, 17);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.MemberImage {
  width: 13rem;
  height: 15rem;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%;
  border-radius: 10%;
  border: 2px solid #9b59b6;

}

/* media section for smaller screens */

@media screen and (max-width: 1024px) {
  .MemberImage {
    width: 14rem;
    height: 15rem;
    margin-left: 0px;
  }

  .MemberBoxInfo {
    width: 95%;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .MemberName {
    font-size: 2.5rem;
    text-align: center;
  }

  .MemberAbout {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .MemberImage {
    width: 10rem;
    height: 12rem;
  }

  .MemberName {
    font-size: 2rem;
  }

  .MemberAbout {
    font-size: 1rem;
  }

  .MemberBoxInfo {
    width: 95%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .MemberImage {
    width: 8rem;
    height: 10rem;

  }

  .MemberName {
    font-size: 1.2rem;
    text-align: center;
  }

  .MemberAbout {
    font-size: 1rem;
    text-align: center;
  }

  .MemberBoxInfo {
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .MemberImage {
    width: 6rem;
    height: 8rem;
  }

  .MemberName {
    font-size: 1.2rem;
    text-align: center;
  }

  .MemberAbout {
    font-size: 0.9rem;
    text-align: center;
  }

  .MemberBoxInfo {
    width: 95%;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}