.Member{
  background-image: linear-gradient(to right, rgb(233, 213, 255), rgb(187, 247, 208));
  height: 750px;
  width: 100%;
  margin-top: 4rem;
  padding-top: 10px;
 
}
 
.Member h1{
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
}